html {
  scroll-behavior: smooth;
}

.bannerbg {
  background-image: url("../public/assets/banner-bg.png") !important;
}

.footerbg {
  background-image: url("../public/assets/footer-bg.png") !important;
}

.max-h-dashboard {
  height: calc(100vh - 92px);
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}
.noScrollBar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.box-shadow {
  box-shadow: 0px 2px 12px rgba(176, 176, 176, 0.387234);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* 
Slick Slider Customization
 */
.slick-next,
.slick-prev {
  display: none !important;
}
.slick-dots li {
  list-style: none !important;
}
.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  background-color: #d8d8d8 !important;
  border-radius: 15px !important;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px !important;
  height: 8px !important;
  padding: 5px;
  cursor: pointer;
}
li.slick-active {
  background-color: #115f95 !important;
  height: 8px !important;
  width: 25px !important;
}

.slick-dots li button:before {
  display: none;
}

@media screen and (max-width: 640px) {
  .bg-small {
    background-image: url("../public/assets/features-bg.png") !important;
  }
}
@media screen and (max-width: 768px) {
  .footerbg {
    background-image: none !important;
  }
}
